/* Reset some default styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ebf1f7;
    color: #333;
    background: linear-gradient(100deg, #002c5a, #01458e, #288cf7);
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #0056b3;
    background-image: url(assets/imgs/background.jpg);
    background: linear-gradient(100deg, #002c5a, #01458e, #288cf7); */
    /* background-image: url(background2.jpg); */
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.profile-desc {
    font-size: 0.73rem;
    margin-top: 20px;
}

.profile-pic {
    display: flex;
    justify-content: end;
}

.profile-pic img {
    width: 200px;
    height: 200px
}

.links {
    display: flex;
    gap: 7px;
}

.social-link {
    color: white;
    text-decoration: underline;
    font-size: 0.9rem;
}

/* added */



/* Portfolio layout */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Project card styles */
.project {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Project title */
.project h2 {
    font-size: 1.5rem;
    color: #0056b3;
    margin: 10px 0;
}

/* Project image */
.project img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

/* Link styles */
.project a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #0056b3;
}

.project a:hover {
    text-decoration: underline;
}